header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #800000; 
    color: #ddbf16; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container img {
    height: 50px; 
    width: auto;
    text-align: center;
}

nav {
    display: flex;
    gap: 20px; 
}

nav h5 {
    margin: 0;
    font-size: 1.0em;
    font-weight: bold;
    text-transform: uppercase; 
}

nav h5 a {
    text-decoration: none;
    color: #ddbf16; 
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav h3 a:hover {
    background-color: #C79B14; 
    color: #333333; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.carousel-container {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    height: 100%;
    animation: slide 10s infinite;
}

.carousel-images {
    display: flex;
    width: 300%; 
    transition: transform 5s ease-in-out; 
}

.carousel-image {
    min-width: 100%;
    height: 100%;
    position: relative;
}

.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px 20px;
    border-radius: 8px;
}

.carousel-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.carousel-text p {
    font-size: 1rem;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    33.33% {
        transform: translateX(-100%);
    }
    66.66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

.images-section {
    padding: 40px 0;
    background-color: #f4f4f4;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.image-item {
    width: 30%;
    text-align: center;
}

.image-item img {
    width: 80%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.image-item p,h4 {
    margin-top: 10px;
    font-size: 1.1em;
    color: #333;
}

@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }
    .image-item {
        width: 80%;
        margin-bottom: 20px;
    }
}
hr{
    border: 0;
    height: 2px;
    background: #EEEEEE;
    margin: 20px 0;
}
footer{
    background: #F5F5F5;
    color: black;
}
footer h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
footer p{
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
    padding-top: 20px;
    line-height: 1.5;
}
.ft p{
    text-align: center;
    color:  #ddbf16;
    background: #800000;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.card-section {
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 40px;
}

.text-container {
    display: flex;
    justify-content: space-around; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.text-items {
    background: #ddbf16; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(33.33% - 40px); 
    max-width: 500px; 
    margin-left: 80px;
    margin-right: 80px;
}

.text-items h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #880101;
}

.text-items p {
    font-size: 1.2em;
    color: #000000;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .text-items {
        flex: 1 1 calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .text-items {
        flex: 1 1 100%; 
    }
}
